<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]

    ErrorDocument 401 /templates/errors/401_unhautorized.php
    ErrorDocument 500 /templates/errors/500_internal_error.php
</IfModule>