<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}StyleSheet{% endblock %}
        {% block javascripts %}JavaScript{% endblock %}
    </head>

    <header>
        {% block header %}Header{% endblock %}
    </header>

    <body>
        {% block body %}Body{% endblock %}
    </body>

    <footer>
        {% block footer %}Footer{% endblock %}
    </footer>

</html>
