<!-- MOBILE NAVIGATION -->
<nav class="mobile-nav">
    <div class="mobile-nav-container">
        <button class="mobile-nav-button">
            <img src="{{ asset('build/images/Home_sans.png')}}" alt="Home">            
        </button>
        <button class="mobile-nav-button">
            <img src="{{ asset('build/images/icon_coeur.png')}}" alt="Whishlist">
        </button>
        <button class="mobile-nav-button">
            <img src="{{ asset('build/images/icon_loupe.png')}}" alt="Recherche">
        </button>
    </div>
</nav>