<div class="header-container">
    <button class="mobile-nav-button">
        <img src="{{ asset('build/images/icon_burger_menu.png')}}" alt="Menu">
    </button>
    <div class="header-title">Accueil</div>
    <button class="mobile-nav-button">
        <img src="{{ asset('build/images/icon_notification.png')}}" alt="Notification">
    </button>
</div>