body {
  font-family: Arial, sans-serif;
  background: var(--color-bg-page);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 5vh;
  color: var(--color-text-default);
}

a{
  text-decoration: none;
  color:var(--color-text-default);
}
.container {
  text-align: center;
  width: 80vw;
  max-width: 500px;
}

form {
  margin-inline: auto ;
  background: var(--color-bg-container);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

label.titre {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

input, select, textarea {
   width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: var(--color-input-bg);
  color: var(--color-input-text);
  border: 1px solid var(--color-input-border);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-input-placeholder);
}

.success {
  color: green;
  background: rgba(0, 128, 0, 0.15);
  border: 1px solid green;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
}

#send {
  display: none;
}

.divider {
  text-align: center;
  margin: 15px 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  width: 40%;
  background: var(--color-border);
  position: absolute;
  top: 50%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.divider span {
  padding: 0 10px;
  font-size: 13px;
  color: var(--color-text-default);
}

.bouton-a {
  width: 100%;
  padding: 12px;
  background: var(--color-btn-primary-bg);
  color: var(--color-btn-primary-text);
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.bouton-b {
  width: 100%;
  padding: 12px;
  background: var(--color-btn-secondary-bg);
  color: var(--color-btn-secondary-text);
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.buttons button {
  flex: 1;
}

div.error {
    color: red;
    background: rgba(255, 0, 0, 0.15);
    border: 1px solid red;
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
}

div.success {
    color: green;
    background: rgba(0, 255, 0, 0.15);
    border: 1px solid green;
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
}

