
.switch {
  display: inline-block;
  cursor: pointer;
}

.switch input {
  display: none;
}

.switch .slider {
  padding: 10px 20px;
  background-color: var(--color-btn-secondary-bg);
  border-radius: 20px;
}

.switch input:checked + .slider {
  background-color: var(--color-btn-primary-bg);
  color: white;
}

select 
    {
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    margin: 5px 0px 0px;
    border-color: var(--color-input-border);
}

.domaine-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.domaine-item input {
    flex: 1;
    margin-right: 10px;
}

.domaine-item button {
    background: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.domaine-item button:hover {
    background: #d32f2f;
}

#entreprise-info {
    display: none;
    border: 2px solid var(--color-border);
    border-radius: 10px;
    padding: 10px;
}

#add-domain {
    margin-top: 10px;
    background: var(--color-btn-primary-bg);
    color: var(--color-btn-primary-text);
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    width: 50%;
}

#add-domain-container {
    display: flex;
    justify-content: center;
}



