
.switch {
  display: inline-block;
  cursor: pointer;
}

.switch input {
  display: none;
}

.switch .slider {
  padding: 10px 20px;
  background-color: var(--color-btn-secondary-bg);
  border-radius: 20px;
}

.switch input:checked + .slider {
  background-color: var(--color-btn-primary-bg);
  color: white;
}