
.switch {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.switch input {
  display: none;
}

.switch .slider {
  padding: 10px 20px;
  background-color: #ddd;
  border-radius: 20px;
}

.switch input:checked + .slider {
  background-color: black;
  color: white;
}