main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.container {
    width: 80vw;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    margin-top: 5vh;
    margin-bottom: 20vh;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}


.item img {
    object-fit: cover;
    border-radius: 50%;
}


.content {
    flex: 1;
    margin-left: 15px;
}


.title {
    font-weight: bold;
    margin: 0;
}

.subtitle {
    margin: 0;
    color: gray;
}


.actions {
    display: flex;
    gap: 10px;
}


.plus, .heart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    cursor: pointer;
}

.plus {
    padding: 5px;
    width: 40px;
    height: 40px;
    color: black;
    border-color: black;
}
.heart {
    padding: 10px;
    width: 30px;
    height: 30px;
    color: red;
    border-color: red;
}