/* ============================================
   BASE
============================================ */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--color-text-default); 
  background: var(--color-bg-page);
  justify-content: center;
}

main {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
}




/* ============================================
   TABLETTE
============================================ */

@media (min-width: 768px) {

  

}

/* ============================================
   PC
============================================ */

@media (min-width: 1024px) {



}

